<div class="bg-image">
    <nav class="nav-homepage">
        <div class="menu-icon">
            <img src="/images/hamburger-icon.png" alt="hamburger-icon">
        </div>
        <div class="nav-header">
            <div class="image-icon">
                <img src="/images/icon.png" alt="">
            </div>
            <h1>Waiter Availability</h1>
        </div>
        <ul class="nav-ul">
            <li id="demo-login-btn">Demo Login Details</li>
            <li id="login-btn">Login</li>
            <li id="sign-up-btn"><a href="/register" id="sign-up-link">Sign Up</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="form-container" id="login-form">
            <h1>Login</h1>
            <form action="/login" method="POST" class="login-form">
                <label for="">Username</label>
                <input type="text" name="username" id="userInput">
                <div id="userError">
                    {{#if messages.user}}
                    {{messages.user}}
                    {{/if}}
                </div>
                <label for="">Password</label>
                <input type="password" name="password" id="passwordInput">
                <div id="passwordError">
                    {{#if messages.password}}
                    {{messages.password}}
                    {{/if}}
                </div>
                <button type="submit" id="loginBtn">Login</button>
            </form>
        </div>
    </div>
    <section class="login-details-modal hide-modal">
        <div>
            <h3>Demo Login Details<span id="close-modal-btn">x</span></h3>
        </div>
        <div class="demo-table">
            <h4>Admin Account</h4>
            <table>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
                <tr>
                    <td>Mark</td>
                    <td>mark123</td>
                </tr>
            </table>
            <h4>Waiter Accounts</h4>
            <table>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
                <tr>
                    <td>James</td>
                    <td>james123</td>
                </tr>
                <tr>
                    <td>Tim</td>
                    <td>tim123</td>
                </tr>
                <tr>
                    <td>Emma</td>
                    <td>emma123</td>
                </tr>
                <tr>
                    <td>Justin</td>
                    <td>justin123</td>
                </tr>
            </table>
        </div>
    </section>
    <div class="login-details-overlay hide-modal"></div>
</div>

<script src="/login.js"></script>